In [1]:
import pandas as pd
books = pd.read_csv("dati/bookstore_transactions.csv")

In [2]:
books

           Transaction
0    History,Biography
1    History,Biography
2      Fiction,History
3    Biography,History
4    History,Biography
..                 ...
148  History,Biography
149  Biography,History
150  Biography,History
151     Fiction,Poetry
152  Biography,History

[153 rows x 1 columns]

In [5]:
transactions = books["Transaction"].apply(lambda t: t.split(","))
transactions = list(transactions)
transactions[0]

['History', 'Biography']

In [10]:
from mlxtend.preprocessing import TransactionEncoder

In [11]:
encoder = TransactionEncoder().fit(transactions)

In [12]:
onehot = encoder.transform(transactions)

In [15]:
onehot = pd.DataFrame(onehot, columns = encoder.columns_)

In [16]:
onehot

     Biography  Fiction  History  Poetry
0         True    False     True   False
1         True    False     True   False
2        False     True     True   False
3         True    False     True   False
4         True    False     True   False
..         ...      ...      ...     ...
148       True    False     True   False
149       True    False     True   False
150       True    False     True   False
151      False     True    False    True
152       True    False     True   False

[153 rows x 4 columns]

In [17]:
support = onehot.mean()

In [18]:
support

Biography    0.660131
Fiction      0.352941
History      0.653595
Poetry       0.333333
dtype: float64

In [19]:
import numpy as np
onehot["Biography", "History"]= np.logical_and(onehot["Biography"], onehot["History"])

In [21]:
support = onehot.mean()

In [22]:
support

Biography               0.660131
Fiction                 0.352941
History                 0.653595
Poetry                  0.333333
(Biography, History)    0.588235
dtype: float64

In [23]:
onehot["Fiction","Poetry"]= np.logical_and(onehot["Fiction"], onehot["Poetry"])

In [25]:
support = onehot.mean()
support

Biography               0.660131
Fiction                 0.352941
History                 0.653595
Poetry                  0.333333
(Biography, History)    0.588235
(Fiction, Poetry)       0.274510
dtype: float64

In [26]:
onehot["Fiction","History"]= np.logical_and(onehot["Fiction"], onehot["History"])

In [27]:
onehot["History","Poetry"]= np.logical_and(onehot["History"], onehot["Poetry"])

##### Calcolo il support di una regola

In [29]:
onehot.mean()

Biography               0.660131
Fiction                 0.352941
History                 0.653595
Poetry                  0.333333
(Biography, History)    0.588235
(Fiction, Poetry)       0.274510
(Fiction, History)      0.058824
(History, Poetry)       0.006536
dtype: float64

##### Calcolo la confidence di una regola

In [33]:
supportFP = np.logical_and(onehot["Fiction"], onehot["Poetry"]).mean()
supportP = onehot["Poetry"].mean()

In [34]:
confidenceFP = supportFP / supportP

In [35]:
confidenceFP

0.823529411764706

##### Calcolo il lift della regola

In [36]:
supportFP = np.logical_and(onehot["Fiction"], onehot["Poetry"]).mean()
supportP = onehot["Poetry"].mean()

supportF = onehot["Fiction"].mean()

In [37]:
lift = supportFP / (supportP * supportF)

In [38]:
lift

2.3333333333333335

In [41]:
supportHP = np.logical_and(onehot["History"], onehot["Poetry"]).mean()
supportP = onehot["Poetry"].mean()

supportH = onehot["History"].mean()

In [42]:
lift = supportHP / (supportP * supportH)

In [43]:
lift

0.030000000000000002