In [26]:
import pandas as pd

In [27]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import Normalizer
from sklearn.pipeline import make_pipeline

In [47]:
## dati che apprtengono a due cluster 0       e        1
data = pd.DataFrame({'f1':[1, 1, 2, 2, 4, 1,      14, 12, 13, 11, 14],
                     'f2':[0, 1, 1, 1, 3, 2,      12, 11, 11, 13, 15],})

In [48]:
labels = [0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1]

In [49]:
data['label']= labels

In [50]:
data

    f1  f2  label
0    1   0      0
1    1   1      0
2    2   1      0
3    2   1      0
4    4   3      0
5    1   2      0
6   14  12      1
7   12  11      1
8   13  11      1
9   11  13      1
10  14  15      1

In [51]:
samples = data.iloc[:, 1:].values
lab = data.iloc[:, -1].tolist()

In [52]:
lab

[0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1]

In [53]:
samples

array([[ 0,  0],
       [ 1,  0],
       [ 1,  0],
       [ 1,  0],
       [ 3,  0],
       [ 2,  0],
       [12,  1],
       [11,  1],
       [11,  1],
       [13,  1],
       [15,  1]], dtype=int64)

In [55]:
# imparo qualcosa dai dati che ho preparato
model = KMeans(n_clusters=2)

pipe = make_pipeline( model)
pipe.fit(samples)

Pipeline(steps=[('kmeans', KMeans(n_clusters=2))])

In [56]:
# preparo un set di dati senza label e cerco di ricavare il loro label a partire da 
# quello che ho imparato dai dati di partenza
data_test = pd.DataFrame({'f1':[1,1,2,3,2,    11, 12, 14],
                          'f2':[2,2,3,1,0,    12, 13, 10]})

In [57]:
data_test = data_test.values

In [58]:
data_test

array([[ 1,  2],
       [ 1,  2],
       [ 2,  3],
       [ 3,  1],
       [ 2,  0],
       [11, 12],
       [12, 13],
       [14, 10]], dtype=int64)

In [59]:
new_lab = pipe.predict(data_test)

In [60]:
new_lab

array([0, 0, 0, 0, 0, 1, 1, 1])