# Primo notebook

- Ecco il primo paragrafo
- ecco il secondo

In [1]:
a = 20
b = 30

In [2]:
type(a)

int

In [3]:
stringa = "ciao"

In [4]:
type(stringa)

str

In [5]:
f = 1.2
type(f)

float

In [6]:
if a > b: 
    print(a)
else: 
    print(b)

30

In [7]:
lista = ["ciao", 1, 1.2, True]

In [8]:
lista

['ciao', 1, 1.2, True]

In [9]:
lista[1]

1

In [11]:
lista[-2]

1.2

In [12]:
lista.append(5)

In [13]:
lista

['ciao', 1, 1.2, True, 5]

In [15]:
lista.append(9)

In [18]:
lista

['ciao', 1, 1.2, True, 5, 9]

In [17]:
len(lista)

6

In [19]:
d = {2:4, 3: 9, 4: 16, 5:25}

In [20]:
d[6]= 36

In [21]:
d

{2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [22]:
d[2] = 10

In [23]:
d

{2: 10, 3: 9, 4: 16, 5: 25, 6: 36}

In [24]:
for k,v in d.items(): 
    print(k, v)

2 10
3 9
4 16
5 25
6 36

In [25]:
with open("dati.txt", "w") as file: 
    file.write(str(d))

In [26]:
punteggio = {"Marco": [1000, 2000, 2500, 2200], "Maria": [2000, 1800, 3000, 4000], "Mario": [5000, 4000, 3900, 5200]}

In [28]:
punteggio

{'Marco': [1000, 2000, 2500, 2200],
 'Maria': [2000, 1800, 3000, 4000],
 'Mario': [5000, 4000, 3900, 5200]}

In [34]:
punteggio["Marco"]

[1000, 2000, 2500, 2200]

In [29]:
import pandas as pd

In [30]:
dati = pd.DataFrame(punteggio)

In [31]:
dati

   Marco  Maria  Mario
0   1000   2000   5000
1   2000   1800   4000
2   2500   3000   3900
3   2200   4000   5200

In [32]:
type(dati)

pandas.core.frame.DataFrame

In [35]:
dati["Marco"].mean()

1925.0

In [36]:
dati["Maria"].mean()

2700.0

In [37]:
dati["Mario"].mean()

4525.0