In [14]:
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline

In [15]:
dati = pd.read_csv("dati/fish.csv", header = None)

In [16]:
dati

        0       1     2     3     4     5     6
0   Bream   242.0  23.2  25.4  30.0  38.4  13.4
1   Bream   290.0  24.0  26.3  31.2  40.0  13.8
2   Bream   340.0  23.9  26.5  31.1  39.8  15.1
3   Bream   363.0  26.3  29.0  33.5  38.0  13.3
4   Bream   430.0  26.5  29.0  34.0  36.6  15.1
..    ...     ...   ...   ...   ...   ...   ...
80   Pike   950.0  48.3  51.7  55.1  16.2  11.2
81   Pike  1250.0  52.0  56.0  59.7  17.9  11.7
82   Pike  1600.0  56.0  60.0  64.0  15.0   9.6
83   Pike  1550.0  56.0  60.0  64.0  15.0   9.6
84   Pike  1650.0  59.0  63.4  68.0  15.9  11.0

[85 rows x 7 columns]

In [17]:
samples = dati.iloc[:, 1:].values
samples
species = dati.iloc[:, 0].tolist()

In [19]:
scaler = StandardScaler()

model = KMeans(n_clusters=4)

pipe = make_pipeline(scaler, model)

In [20]:
pipe.fit(samples)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('kmeans', KMeans(n_clusters=4))])

In [21]:
labels = pipe.predict(samples)

In [22]:
df = pd.DataFrame({"labels": labels, "fish_species": species})
df

    labels fish_species
0        3        Bream
1        1        Bream
2        1        Bream
3        1        Bream
4        1        Bream
..     ...          ...
80       2         Pike
81       2         Pike
82       2         Pike
83       2         Pike
84       2         Pike

[85 rows x 2 columns]

In [23]:
ct = pd.crosstab(df["labels"], df["fish_species"])

In [24]:
print(ct)

fish_species  Bream  Pike  Roach  Smelt
labels
0                 0     0      0     13
1                33     0      1      0
2                 0    17      0      0
3                 1     0     19      1