- Vendite totali per agente
- Vendite totali per paese
- Vendite per paese e per agente
- Vendita individuale massima per paese 
- media mediana e minimo vendita per paese

In [59]:
import pandas as pd
df = pd.read_csv("sales.csv")

#### 1 - vendite totali per ogni agente

In [60]:
pivot = df.pivot_table(index=['NomeAgente'], values=['Vendite'], aggfunc = 'sum')

In [61]:
pivot

            Vendite
NomeAgente
Dan            2700
Jacopo         5500
Marco          2600
Maria          3800
Mia            1210
Mike           2600
Tania          3400
Tina           2100

#### 2- Vendite totali per ogni paese

In [62]:
pivot = df.pivot_table(index=['Paese'], values=['Vendite'], aggfunc='sum')
pivot

        Vendite
Paese
Brazil     4400
CAN        2800
Japan      5050
UAE        2300
UK         3160
US         6200

#### 3- Massimo vendita individuale per paese

In [66]:
pivot = df.pivot_table(index=['Paese'], values=['Vendite'], aggfunc='max')

print (pivot)

        Vendite
Paese
Brazil     2000
CAN        1000
Japan      2500
UAE         900
UK          900
US         1500

#### 4- Massimo vendita individuale per Agente

In [64]:
pivot = df.pivot_table(index=['NomeAgente'], values=['Vendite'], aggfunc='max')

print (pivot)

            Vendite
NomeAgente
Dan             900
Jacopo         2000
Marco           900
Maria          2500
Mia             800
Mike           1000
Tania           900
Tina            750

#### 5- Vendita per paese e agente

In [69]:
pivot = df.pivot_table(index=['NomeAgente', 'Paese'], values=['Vendite'], aggfunc='max')

print (pivot)

                   Vendite
NomeAgente Paese
Dan        Brazil      900
           CAN         900
           UAE         400
           UK          500
Jacopo     Brazil     2000
           US         1500
Marco      Brazil      500
           Japan       300
           UK          900
           US          900
Maria      Brazil       50
           Japan      2500
           UK          500
Mia        Brazil      300
           UAE         800
           UK           60
           US           50
Mike       CAN        1000
           UAE         200
           UK          400
           US         1000
Tania      CAN         900
           Japan       800
           UAE         900
           UK          800
Tina       Brazil      400
           Japan       700
           US          750

##### 6- media mediana e min vendite

In [72]:
pivot = df.pivot_table(index=['Paese'], values=['Vendite'], aggfunc={'median','mean','min'})

In [73]:
pivot

            Vendite
               mean  median    min
Paese
Brazil   628.571429   400.0   50.0
CAN      933.333333   900.0  900.0
Japan   1010.000000   750.0  300.0
UAE      575.000000   600.0  200.0
UK       526.666667   500.0   60.0
US       885.714286  1000.0   50.0