In [10]:
import pandas as pd
from sklearn.cluster import KMeans

In [11]:
dati = pd.read_csv("dati/wine.csv")

In [26]:
dati

,class_label,class_name,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280,proline
0,1,Barolo,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,Barolo,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,Barolo,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,Barolo,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,Barolo,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,3,Barbera,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
174,3,Barbera,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
175,3,Barbera,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
176,3,Barbera,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
177,3,Barbera,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

In [12]:
samples = dati.iloc[:, 2:].values
wine_names = dati["class_name"].tolist()

In [18]:
model = KMeans(n_clusters= 3)

In [19]:
labels = model.fit_predict(samples)

In [20]:
df = pd.DataFrame({"labels":labels, "wine_names":wine_names})

In [25]:
df

     labels wine_names
0         1     Barolo
1         1     Barolo
2         1     Barolo
3         1     Barolo
4         0     Barolo
..      ...        ...
173       0    Barbera
174       0    Barbera
175       0    Barbera
176       0    Barbera
177       2    Barbera

[178 rows x 2 columns]

In [22]:
ct = pd.crosstab(df["labels"], df["wine_names"])

In [24]:
print(ct)

wine_names  Barbera  Barolo  Grignolino
labels
0                29      13          20
1                 0      46           1
2                19       0          50

#### Scalare i dati per migliorare il processo di clustering

In [28]:
from sklearn.preprocessing import StandardScaler

In [29]:
scaler = StandardScaler()

In [36]:
scaler.fit(samples)
scaled_samples = scaler.transform(samples)

In [37]:
model = KMeans(n_clusters=3)

In [38]:
scaled_labels = model.fit_predict(scaled_samples)

In [39]:
scaled_labels

array([2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1])

In [40]:
df_scaled = pd.DataFrame({"labels":scaled_labels, "wine_names":wine_names})

In [42]:
ct = pd.crosstab(df_scaled["labels"], df_scaled["wine_names"])

In [43]:
print(ct)

wine_names  Barbera  Barolo  Grignolino
labels
0                 0       0          65
1                48       0           3
2                 0      59           3

In [44]:
from sklearn.preprocessing import MinMaxScaler

In [45]:
scaler = MinMaxScaler()
scaler.fit(samples)

MinMaxScaler()

In [46]:
scaled_data_mm = scaler.transform(samples)

In [47]:
model = KMeans(n_clusters=3)
new_labels = model.fit_predict(scaled_data_mm)

In [48]:
df_mm = pd.DataFrame({"labels":new_labels, "wine_names": wine_names})

In [50]:
ct = pd.crosstab(df_mm["labels"], df_mm["wine_names"])

In [51]:
print(ct)

wine_names  Barbera  Barolo  Grignolino
labels
0                 0       0          62
1                48       0           7
2                 0      59           2