### Variabili

In [88]:
a = 2

In [89]:
print(a)

2

In [90]:
b = 3

In [91]:
print(b)

3

In [92]:
type(a)

int

In [93]:
e = 2.3
print(type(e))

<class 'float'>

In [94]:
s = "Data science"
s

'Data science'

In [95]:
type(s)

str

### Liste

In [96]:
l = ["ciao", "hi", "hallo", "hola"]
l

['ciao', 'hi', 'hallo', 'hola']

In [97]:
print(l)

['ciao', 'hi', 'hallo', 'hola']

In [98]:
numbers = [1, 2, 3, 4, 5, 6, 7]
numbers

[1, 2, 3, 4, 5, 6, 7]

In [99]:
decimal = [1.2, 4.5, 3.2, 5.5, 7.2, 9.5]
decimal

[1.2, 4.5, 3.2, 5.5, 7.2, 9.5]

In [100]:
mixed = ["ciao", 1.2, 10, False]

In [101]:
mixed.append("buongiorno")
mixed

['ciao', 1.2, 10, False, 'buongiorno']

In [102]:
mixed

['ciao', 1.2, 10, False, 'buongiorno']

### Loop : for - while

In [103]:
for i in mixed: 
    print(i)

ciao
1.2
10
False
buongiorno

In [104]:
k = 20
while k > 10: 
    print("ciao")
    k = k -1
    print(k)

ciao
19
ciao
18
ciao
17
ciao
16
ciao
15
ciao
14
ciao
13
ciao
12
ciao
11
ciao
10

In [105]:
a = 10 
b = 20 

if b > a: 
    print(b)

20

In [106]:
d = {"ciao":4, "hello":5, "buongiorno":10, "ciao":6}
d

{'ciao': 6, 'hello': 5, 'buongiorno': 10}

In [107]:
for k,v in d.items(): 
    
    #kv = str(k)+" = "+str(v)
    #print(kv)
    
    if k == "hello": 
        print("inglese")
    else: 
        print("italiano")

italiano
inglese
italiano

In [108]:
d["hallo"] = 5
d["buonanotte"] = 10 
d

{'ciao': 6, 'hello': 5, 'buongiorno': 10, 'hallo': 5, 'buonanotte': 10}

In [109]:
t = ("ciao", "hello", "hallo", "hola")

In [110]:
t

('ciao', 'hello', 'hallo', 'hola')

In [111]:
print("ultima cella")

ultima cella

In [112]:
import pandas as pd

In [113]:
d = {"a" : [200, 300, 400, 360, 500], "b": [300, 400, 500, 700, 800], "c": [1000, 2000, 1000, 2000, 4000]}

In [114]:
d

{'a': [200, 300, 400, 360, 500],
 'b': [300, 400, 500, 700, 800],
 'c': [1000, 2000, 1000, 2000, 4000]}

In [115]:
data = pd.DataFrame(d)
data

     a    b     c
0  200  300  1000
1  300  400  2000
2  400  500  1000
3  360  700  2000
4  500  800  4000

In [116]:
import math

In [117]:
math.sqrt(100)

10.0

In [118]:
from math import sqrt
sqrt(100)

10.0