In [1]:
import pandas as pd

In [2]:
rating = pd.read_csv("dati/ratings.csv")
movie_names = pd.read_csv("dati/movie_names.csv")

In [5]:
rating.drop(["Unnamed: 0"], axis = 1, inplace = True)
movie_names.drop(["Unnamed: 0"], axis = 1, inplace = True)

In [7]:
print(rating.head(2))
print(movie_names.head(2))

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
   item_id       movie title
0        1  Toy Story (1995)
1        2  GoldenEye (1995)

In [8]:
combined_movies_data = pd.merge(rating, movie_names, on = "item_id")

In [9]:
combined_movies_data

,user_id,item_id,rating,timestamp,movie title
0,196,242,3,881250949,Kolya (1996)
1,63,242,3,875747190,Kolya (1996)
2,226,242,5,883888671,Kolya (1996)
3,154,242,3,879138235,Kolya (1996)
4,306,242,5,876503793,Kolya (1996)
...,...,...,...,...,...
99995,840,1674,4,891211682,Mamma Roma (1962)
99996,655,1640,3,888474646,"Eighth Day, The (1996)"
99997,655,1637,3,888984255,Girls Town (1996)
99998,655,1630,3,887428735,"Silence of the Palace, The (Saimt el Qusur) (1..."
99999,655,1641,3,887427810,Dadetown (1995)

In [10]:
combined_movies_data.groupby("item_id")["rating"].count().sort_values(ascending=False).head(10)

item_id
50     583
258    509
100    508
181    507
294    485
286    481
288    478
1      452
300    431
121    429
Name: rating, dtype: int64

In [12]:
film_x = combined_movies_data["item_id"] == 50
combined_movies_data[film_x]['movie title'].unique()

array(['Star Wars (1977)'], dtype=object)

##### Costruisco la Utility Matrix

In [13]:
rating_crosstab = combined_movies_data.pivot_table(index= "user_id", values= "rating", columns = "movie title", fill_value=0)

In [14]:
rating_crosstab

movie title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
user_id,,,,,,,,,,,,,,,,,,,,,
1,0,0,2,5,0,0,3,4,0,0,...,0,0,0,5,3,0,0,0,4,0
2,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,2,0,0,0,0,4,0,0,...,0,0,0,4,0,0,0,0,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
940,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
941,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
942,0,0,0,0,0,0,0,3,0,3,...,0,0,0,0,0,0,0,0,0,0
943,0,0,0,0,0,2,0,0,0,0,...,0,0,0,0,4,3,0,0,0,0

#### Calcolo la trasposta della matrice utilità

In [17]:
X = rating_crosstab.T
X

user_id,1,2,3,4,5,6,7,8,9,10,...,934,935,936,937,938,939,940,941,942,943
movie title,,,,,,,,,,,,,,,,,,,,,
'Til There Was You (1997),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1-900 (1994),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101 Dalmatians (1996),2.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,2.0,4.0,0.0,0.0,0.0,0.0,0.0
12 Angry Men (1957),5.0,0.0,0.0,0.0,0.0,4.0,4.0,0.0,0.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
187 (1997),0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Young Guns II (1990),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
"Young Poisoner's Handbook, The (1995)",0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,...,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zeus and Roxanne (1997),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
unknown,4.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Á köldum klaka (Cold Fever) (1994),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
from sklearn.decomposition import TruncatedSVD

In [20]:
SVD = TruncatedSVD(n_components=10, random_state = 1)

In [21]:
resultant_matrix = SVD.fit_transform(X)

In [22]:
type(resultant_matrix)

numpy.ndarray

In [23]:
resultant_matrix

array([[ 1.03999361e+00,  6.59901910e-01,  4.56830069e-02, ...,
         3.08241069e-01, -5.27311266e-02, -7.50211873e-01],
       [ 4.36584337e-01, -2.57258327e-01,  3.52956843e-01, ...,
        -5.66467535e-01,  3.42563048e-01, -2.18086287e-01],
       [ 1.25437438e+01,  5.66918131e+00, -4.90783099e+00, ...,
        -4.84469325e+00,  2.05088856e+00,  4.03675810e+00],
       ...,
       [ 3.58929614e-01,  3.71251577e-01,  2.29714964e-02, ...,
        -5.13888961e-01,  1.76688691e-02, -5.71347504e-02],
       [ 1.42428013e+00,  8.14960942e-01, -4.90237557e-01, ...,
        -7.60222136e-01,  4.07421192e-01,  1.47536462e-01],
       [ 2.29210339e-01, -6.22298529e-03,  2.73169815e-01, ...,
        -7.11254087e-03, -2.18699243e-01,  8.36434324e-02]])

In [24]:
import numpy as np
corr_mat = np.corrcoef(resultant_matrix)

In [25]:
corr_mat

array([[ 1.        , -0.06098394,  0.48232822, ...,  0.3876459 ,
         0.2084402 ,  0.49147867],
       [-0.06098394,  1.        ,  0.11280799, ...,  0.13393438,
         0.4959381 ,  0.28854242],
       [ 0.48232822,  0.11280799,  1.        , ...,  0.78071347,
         0.45329333,  0.17253546],
       ...,
       [ 0.3876459 ,  0.13393438,  0.78071347, ...,  1.        ,
         0.14071133,  0.09187915],
       [ 0.2084402 ,  0.4959381 ,  0.45329333, ...,  0.14071133,
         1.        ,  0.16885052],
       [ 0.49147867,  0.28854242,  0.17253546, ...,  0.09187915,
         0.16885052,  1.        ]])

In [28]:
movie_names = rating_crosstab.columns

In [30]:
movie_list = list(movie_names)

In [31]:
movie_list.index("Star Wars (1977)")

1398

In [33]:
corr_star_wars = corr_mat[1398]

In [35]:
list(movie_names[(corr_star_wars < 1.0) & (corr_star_wars > 0.94)])

['Die Hard (1988)',
 'Return of the Jedi (1983)',
 'Terminator 2: Judgment Day (1991)',
 'Terminator, The (1984)']