In [1]:
import pandas as pd

In [2]:
dati = pd.read_csv("dati/vendite_ombrelli.csv")

In [3]:
dati

     pioggia_mm  ombrelli
0            21       236
1            25       340
2             5       135
3            17       305
4            18       220
..          ...       ...
495          21       246
496          11       133
497          18       306
498          12       231
499          15       203

[500 rows x 2 columns]

#### Preparo i dati per l'algoritmi di machine learning

In [11]:
X = dati.iloc[:, :-1].values
y = dati.iloc[:, 1].values

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state=1)

In [14]:
from sklearn.linear_model import LinearRegression

In [15]:
linear_model = LinearRegression()

In [16]:
linear_model.fit(X_train, y_train)

LinearRegression()

#### Faccio la prima previsione

In [32]:
import numpy as np
pioggia = np.array([4]).reshape(1, -1)

In [33]:
pioggia.ndim

2

In [34]:
yhat = linear_model.predict(pioggia)

In [35]:
yhat

array([104.98716335])

In [36]:
yhat_totale = linear_model.predict(X_test)

In [39]:
errore = abs(yhat_totale - y_test)

In [42]:
# mean absolute error
mae = np.mean(errore)

In [43]:
mae

29.80674461189158

In [44]:
# mean absolute percentage error
mape = np.mean(abs(yhat_totale - y_test) / y_test) * 100

In [45]:
mape

15.80154743406464

In [46]:
linear_model.coef_

array([11.006562])

In [47]:
linear_model.intercept_

60.96091535017558

In [48]:
import pickle

In [50]:
with open("modello_rl.pkl", "wb") as file: 
    pickle.dump(linear_model, file)